.jew_cpyright{
    max-height: 6.4rem;
    background: #3D3D3F;
    max-width: 100%;
    padding: 1.5rem 0;
    &-label{
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 17px;    
        text-align: center;    
        color: #C2C2C2;
    }
}