.jew_prod{  
    margin: 5rem 0;
    &-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-img{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
             max-width: 35rem;
             min-width:30rem;
             object-fit: cover;
            }
        }
        &-content{
            flex: 1;
            display: flex;

                 
         &-title{
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 50px;
            letter-spacing: 0.05em;
            color: #2C2A2B;
            max-width:491px;
            margin-bottom: 3rem;

            @media screen and (max-width:768px){
                font-size: 25px;
            }


         }
         &-subtitle{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;   
            color: #3D3D3F;
            max-width: 44.1rem;
            margin-bottom: 3rem;

         } 
         &-sizes{
            margin-bottom: 3rem;
            &-label{
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 31px;     
                letter-spacing: 0.06em;      
                color: #3D3D3F;
            }
            &-container{
                max-width: 10rem;
                display: flex;
                justify-content: space-between;
                &-item{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 31px;     
                    letter-spacing: 0.06em;      
                    color: #3D3D3F;
                    cursor: pointer;

                }
            }
         }
         &-chart{
             display: flex;
             max-width: 25rem;
             justify-content: space-between;
             align-items: center;
             &-btn{
               padding: 0.5rem 2rem;
               background-color:#3D3D3F;
               font-style: normal;
               font-weight: 600;
               font-size: 12px;
               line-height: 24px;
               text-align: center;
               text-transform: uppercase;      
               color: #FFFFFF;
               border: none;
               outline: none;
               cursor: pointer;

             }
             &-price{
                font-style: normal;
                font-weight: 900;
                font-size: 20px;
                line-height: 52px;         
                color: #2C2A2B

             }
         }

        }

        @media screen and (max-width:768px){
            flex-direction: column !important;
        }
      

    }


}